*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 320px;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: lightgray;
    line-height: 1.65;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cv-lightbox {
    background-image: url('./assets/green-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 800px;
    text-align: center;
    color: white;
    border: 7px solid white;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}

.lightbox-content {
    width: 80%;
    margin: auto;
    padding: .5rem 0;
}

.close {
    background: white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-left: auto;
    margin-top: -21px;
    margin-right: -21px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,.25);
}

.close span {
    font-size: 30px;
    opacity: .35;
    pointer-events: none;
    color: black;
    margin-top: -2px;
}

.close:hover span {
    opacity: 1;
}

.timer {
    background: white;
    width: 33%;
    padding: .5rem;
    margin: 0 auto;
    margin-top: -90px;
    box-shadow: 2px 4px 7px 0px rgba(0,0,0,.25);
}

.timer span {
    font-size: 16px;
    color: #666666;
    display: inline-block;
    line-height: 1.15;
}

.timer .countdown {
    font-size: 40px;
    color: #f49e00;
    font-weight: bold;
}

h1 {
    margin-top: 2.5rem;
    line-height: 1.15;
}

.subtext {
    font-weight: 300;
}

.email-field {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,.35);
}

.email-field::-webkit-input-placeholder {
    color: #aaaaaa;
}

.email-field::-ms-input-placeholder {
    color: #aaaaaa;
}

.email-field::placeholder {
    color: #aaaaaa;
}

.cta-btn {
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(244, 98, 0, 0.75)), #f49c00;
    margin-top: 1rem;
    width: 50%;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.25);
}

.cta-btn:hover {
    background: linear-gradient(to bottom, rgba(0,0,0,.05), rgba(0,0,0,0.05)), rgba(244, 98, 0, 1);
    box-shadow: 0px 2px 5px rgba(0,0,0,.45);
}

.disclaimer {
    display: block;
    font-size: 14px;
    margin-top: 2rem;
    letter-spacing: .5px;
    font-weight: 300;
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #cv-lightbox {
        margin-top: 200px;
    }
}